@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-break: strict;
  font-family: "Mulish";
}
#__next {
  @apply h-full;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

.box-shadow-line {
  background: #fff;
  box-shadow: 0px -8px 20px 0px rgba(45, 90, 149, 0.08);
}
